/.git

/leaf_segmentation/*/**/__pycache__
/leaf_segmentation/Grounded-SAM/results
/leaf_segmentation/MaskDINO/exprs
/leaf_segmentation/MaskDINO/results

/image_generation/*/**/__pycache__
/image_generation/pix2pix/checkpoints
/image_generation/pix2pix/data
/image_generation/pix2pix/datasets
/image_generation/pix2pix/imgs
/image_generation/pix2pix/docs
/image_generation/pix2pix/scripts
/image_generation/pix2pix/results
/image_generation/pix2pix/wandb
/image_generation/unetGAN/experiments
/image_generation/unetGAN/wandb
/image_generation/unetGAN/tmp
/image_generation/unetGAN/results
